<section id="projects">
  <div class="container">
    <h1>About me</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-briefcase"></i>&nbsp;&nbsp; Doing mobile applications
          development for +4 years working with different languages like C, C++,
          Objective-C, Swift and Java. following MVVM, MVVM-C, MVC methods of
          organizing code. I’m truly passionate about my work and always eager
          to learn new skills, enthusiastically grabbing onto learning any other
          programming languages, frameworks or principles and develop new
          software , apps and products.
        </h5>

        <h5>
          <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp; Obtained my
          bachelor's degree in Computer Science from the cairo University in
          Egypt ( Faculty of Computers and Information ) focusing on Software
          Engineering.
        </h5>

        <h5>
          <i class="fa fa-code"></i>&nbsp;&nbsp; This blog mostly covers my
          programming experience venturing into the world of iOS and Swift and
          my small previous dealing with C/C++. You can also find some rants
          here, because I do not like when stuff breaks.
        </h5>

        <h5>
          <i class="fa fa-fire"></i>&nbsp;&nbsp; I think the turning point in my
          career goes back to my second year in college when I decided to join
          my colleagues in the programming competitions and focusing on the
          algorithms and competitive programming.
        </h5>

        <h5>
          <i class="fa fa-smile-o"></i>&nbsp;&nbsp; When i'm not working, i love
          Reading, Playing and Watching Football and blog about IOS Development.
        </h5>

        <h1 id="contact">Contact</h1>
        <p>
          If you want to get in touch,
          <a href="mailto:ahmedkomsan0@gmail.com">drop me an email</a> or
          <a href="https://www.twitter.com/ahmed_komsan12">tweet to me</a>.
        </p>
      </div>
    </div>
  </div>
</section>
